*{
    scroll-behavior: smooth;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: navy;
   

}
.Website {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    background: #032363;
    padding: 10px 20px; 
    z-index: 1000; 
}


.logo {
    color: black;
    text-decoration: none;
    font-size: 20px;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navigation a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    transition: .4s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navigation a:hover {
    color: aqua;
}


.Home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5% 10%;
    gap: 40px;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

.Home-content {
    display: inline-block;
}

.Home-content h3 {
    color: blueviolet;
    font-size: 3vh;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.Home-content h1 {
    color: rgb(142, 17, 134);
    font-size: 4vh;
}

.Home-content h2 span {
    color: #0ef;
}

.Home-content:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.Home-content h2 {
    color: black;
    font-size: 3.5vh;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.Home-content p {
    color: aqua;
    font-size: 2.2vh;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}

.new {
    display: flex;

}

.new img {
    padding: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px 9px #a21bae;
    float: right;


}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2.5px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    position: relative;
    margin: 20px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 30px #0ef;
}


.btn-box {
    display: inline-flex;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-top: -30px;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 35px #0ef;
}

.About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.About-img img {
    padding: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px 9px #a21bae;
    float: left;
    right: 20px;

}

.About-text h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 35px;
    color: aliceblue;
}

.About-text h2 span {
    color: #0ef;
}

.About-text h3 {
    font-size: 28px;
    color: aliceblue;
}

.About-text p {
    color: aliceblue;
    font-size: 18.5px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-tittle {
    text-align: center;
    font-size: 45px;
    padding-bottom: 70px;
}

.sub-tittle span {
    color: #0ef
}

.header {
    padding: 20px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #07d6fff7,
        1px 1px 40px #15dcfff7;

}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #0ef;
}

.services-list div h2 span {
    color: aliceblue;
}

.services-list div p {
    font-size: 15px;
    color: black;

}

.services-list div a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    color: white;
    border-radius: 35px;
    width: 37%;
    height: 0.5vh;
    text-decoration: none;
    border: 1px solid aliceblue;
    background: transparent;
    box-shadow: 0 0 15px #0ef;
    margin: auto;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef;
}

.services-list div a:hover {
    background: #0ef;
    color: #09182cf7;
    box-shadow: 0 0 20px #0ef;
}

.services-list div:hover {
    transform: translateY(-10px);
}

section {
    display: flex;

}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin: auto;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin: auto;

}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 10px;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 50px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate 1s cubic-bezier(0.5, 0, 0.5, 1) forwards;
    transform-origin: left;
    transform: scaleX(0);
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }

}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(0.5, 0, 0.5, 1) forwards;
    transform-origin: left;
    transform: scaleX(0);
}

.progress-line.html span {
    width: 80%;
}

.progress-line.css span {
    width: 70%;
}

.progress-line.javascript span {
    width: 70%;
}

.progress-line.python span {
    width: 90%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line span {
    position: relative;
    display: inline-block;
}

.progress-line.html span::after {
    content: "80%";
}

.progress-line.css span::after {
    content: "70%";
}

.progress-line.javascript span::after {
    content: "70%";
}

.progress-line.python span::after {
    content: "90%";
}

.progress-line span::before {
    display: block;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bar {
    width: 45%;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 120px;
}


.progress-bar {
    stroke-width: 10;
    stroke: #000000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}


.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: 0;
    }
}


.path-1 {
    animation: animate-path1 1s 0.5s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1.5s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 2s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: calc(502 - (502 * 80) / 100);
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: calc(502 - (502 * 70) / 100);
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: calc(502 - (502 * 70) / 100);
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: calc(502 - (502 * 90) / 100);
    }
}


.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    transform: translate(-50%, -50%);
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}


.radial-bar .text {
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: aliceblue;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}


@keyframes showText {
    100% {
        opacity: 1;
    }
}

.sub-tittle {
    text-align: center;
    font-size: 45px;
    padding-bottom: 70px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;

}

.projects {
    background: transparent;
    border-radius: 15px;
    text-align: center;
    box-shadow: 1px 1px 20px #07d6fff7, 1px 1px 40px #15dcfff7;
    transition: transform 0.3s ease-in-out;
    max-width: 550px;
    width: 100%;
    padding: 20px;
    
}

.projects:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #0ef;
}

.projects h1 {
    font-size: 22px;
    margin-top: 15px;
}

.projects h1 span {
    color: rgb(0, 217, 255);
    font-size: 25px;
    font-weight: bold;
}

.projects p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.projects p span {
    font-size: 15px;
    color: #0ef;
}
.projects a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
.projects a i{
    height: 9vh;
    width: 80%;
}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 550px;
    width: 100%;
    padding: 20px;
    margin: auto;

}

.mail input {
    height: 6vh;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: transparent;
    box-shadow: 1px 1px 20px #07d6fff7, 1px 1px 40px #15dcfff7;
    color: aliceblue;

}

.mail input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #0ef;
}

.mail input::placeholder {
    color: rgba(240, 248, 255, 0.7);
}

.mail textarea {
    display: flex;
    height: 15vh;
    width: 100%;
    padding: 10px;
    gap: 20px;

}

.mail textarea {
    height: 15vh;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: transparent;
    box-shadow: 1px 1px 20px #07d6fff7, 1px 1px 40px #15dcfff7;
    color: aliceblue;

}

.mail textarea:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #0ef;
}

.mail textarea::placeholder {
    color: rgba(240, 248, 255, 0.7);
}

.mail button {
    height: 10vh;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: transparent;
    box-shadow: 1px 1px 20px #07d6fff7, 1px 1px 40px #15dcfff7;
    color: aliceblue;
}

.mail button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 35px #0ef;
}

























@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideleft {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}